.title {
  position: relative;
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
  min-height: 300px;
  margin-bottom: 175px;
}

.title h1 {
  font-size: 3.5rem;
  margin: 10px auto;
  padding: 20px 0 0;
  color: #272727;
  text-shadow: 0px 5px 10px rgba(75, 75, 75, 0.2);
}

.title p {
  margin: 0;
  padding-bottom: 50px;
  color: #505050;
  font-size: 1.5rem;
  text-shadow: 0px 5px 10px rgba(46, 46, 46, 0.2);
}

@media (max-width: 992px) {
  .title h1 {
    font-size: 2.5rem;
  }

  .title p {
    font-size: 1.2rem;
  }
}

/* Start Category */

.category {
  display: flex;
}

.category .all-sections {
  padding: 15px 0;
  background-color: #ccc;
  border-radius: 6px 0 0;
  text-align: end;
}

.category .all-sections h3 {
  font-size: 24px;
  padding-right: 20px;
  color: rgb(46, 46, 46);
  margin: 0;
  border-bottom: 1px solid black;
}

.category .all-sections ul {
  list-style: none;
  padding-right: 20px;
}

.category .all-sections ul li {
  margin: 10px;
  padding: 10px;
}

.category .all-sections ul li a {
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.category .all-sections ul li {
  border-radius: 10px;
  transition: 0.3s;
}

.category .all-sections ul li:hover {
  background-color: rgb(185, 184, 184);
  color: black;
}

.category .all-sections ul li.active.men {
  background-color: rgb(185, 184, 184);
  color: black;
}

.category .all-sections ul li.women:hover {
  background-color: #b65cdd49;
  color: black;
}

.category .all-sections ul li.active.women {
  background-color: #b65cdd49;
  color: black;
}

.category .all-sections ul li.kids:hover {
  background-color: #3ee2835d;
  color: black;
}

.category .all-sections ul li.active.kids {
  background-color: #3ee2835d;
  color: black;
}

.category .all-sections ul li.accessories:hover {
  background-color: #b354015e;
  color: black;
}

.category .all-sections ul li.active.accessories {
  background-color: #b354015e;
  color: black;
}

/* End Category */

.category .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
}

.category .container .clothes {
  width: 100%;
  padding-right: 10px;
  text-align: right;
  background-color: #ccc;
  border-left: 1px solid black;
}

.category .container .clothes h3 {
  color: rgb(44, 44, 44);
  font-size: 1.3rem;
}

.category .container .clothes ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.category .container .clothes ul li {
  position: relative;
  width: 190px;
  text-align: center;
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  color: white;
  background-color: grey;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s;
}

.category .container .clothes ul li.active {
  background-color: rgb(109, 109, 109);
  border-bottom: 2px solid black;
}

.category .container .clothes ul li:not(li.active)::before {
  content: "";
  position: absolute;
  left: -100%;
  top: -2px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  transition: 0.3s;
}

.category .container .clothes ul li:hover:not(li.active)::before {
  left: 0;
}

/* Start Products */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

.products .product {
  max-width: 250px;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.295);
  border-radius: 6px;
  transition: 0.3s;
}

.products .product:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}

.products .product h3 {
  width: calc(100% - 10px);
  margin: 0 auto 5px;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}

.products .product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.products .product .info {
  font-size: 1rem;
  font-weight: bold;
}

.products .product .info p {
  margin-top: 0;
  margin-bottom: 10px;
}

.products .product .info p:last-child span {
  font-weight: 700;
}

.products .product .cartBtn {
  font-family: "Noto Sans Arabic", sans-serif;
  background-color: #ff5722;
  border: none;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

/* Medium Screen */

@media (max-width: 992px) {
  .category .all-sections {
    width: 200px;
    padding: 15px 0;
  }
  .category .all-sections ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 10px;
  }

  .category .all-sections ul li a {
    font-size: 16px;
    white-space: nowrap;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}

/* Small Screen  */

@media (max-width: 768px) {
  .category {
    flex-direction: column;
  }
  .category .all-sections {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .products {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .products .product {
    max-width: 315px;
  }

  .category .container .clothes {
    width: 100vw;
  }

  .category .container .clothes ul {
    padding: 0;
  }

  .category .container .clothes ul li {
    height: fit-content;
    font-size: 13px;
  }
}

.added {
  position: fixed;
  left: -100%;
  top: 150px;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  transition: 0.5s;
  z-index: 1;

}



/* End Products */
